@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-purple-500;
  @apply font-semibold;
}
a:hover {
  @apply text-purple-700;
}

.gradient-text {
  background-color: #ff007a;
  background-image: linear-gradient(325deg, #ff007a, #7b61ff);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
